.button-txt {
  color: white;
}

.jumbotron {
  text-align: center;
  background-color: #BDF;
  border: 3px solid green;
  border-radius: 6px;
}

.song{
  padding: 1% 15%;
}

#login-button{
  border-radius: 6px;
}
