<div class="jumbotron"><h1 class="header"><strong>Song Wall</strong></h1>
<div><a class="btn btn-primary" href="/songs/new">Post a song!</a></div>
</div>
<div class="btn btn-primary"><a href="/users/login" class="button-txt">Login</a></div>
<div class="btn btn-primary"><a href="/users/signup" class="button-txt">Sign Up</a></div>
<% @songs.each do |song| %>
  <div class="song">
    <h3><%= song.title %> <small>(by: <%= song.author %>)</small></h3>
    <p>
      <%= song.url %>
    </p>
  </div>
<% end %>
