<div class="jumbotron"><h1 class="header"><a href="/"><strong>Song Wall</strong></a></h1>
<% if session[:id] %>
  <h4 id="username">Hello, <%= User.find(session[:id]).name %>!</h4>
  <div class="btn btn-primary"><a href="/users/logout" class="button-txt">Logout</a></div>
<% else %>
  <div class="btn btn-primary"><a href="/users/login" class="button-txt">Login</a></div>
<% end %>
<div class="btn btn-primary"><a href="/users/signup" class="button-txt">Sign Up</a></div>
</div>
<% if @song.errors.any? %>
  <div>
    <strong>Some issues with your song, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form method="post" action="/songs">
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-music"></span></span>
    <input type="text" name="title" class="form-control" placeholder="title" value="<%= @song.title %>">
  </div>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
    <input type="text" name="url" class="form-control" placeholder="url" value="<%= @song.url %>">
  </div>
  <div class="input-group">
    <input type="submit" class="btn btn-primary" value="Submit">
  </div>
</form>
